.cardPickBack {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 11;
}

.background {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.cardPick {
  background-color: black;
  position: absolute;
  opacity: 1;
  top: 50%;
  left: 50%;
  width: 1200px;
  height: 700px;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.skip {
  position: absolute;
  top: 11.75%;
  right: 2.3%;
  display: none;
}

.cardPickExit {
  position: absolute;
  background-color: black;
  width: 50px;
  height: 50px;
  top: 13%;
  right: 13%;
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: "Cookie-Run-B";
  display: none;
  z-index: 15;
  cursor: pointer;
}

.skipBtn {
  width: 105px;
  height: 30px;
  border: none;
  color: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.cardPack {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 300px;
  display: none;
  z-index: 99;
}

.pickCard {
  position: absolute;
  width: 200px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: 1s ease-in;
  animation-fill-mode: forwards;
  perspective-origin: center;
  z-index: 1;
}

.cardOne {
  width: 100%;
  backface-visibility: hidden;
  transition: 1s;
  position: absolute;
  animation: 1s ease-in;
  animation-fill-mode: forwards;
}

.pickFront {
  position: absolute;
  height: 300px;
  transform: rotateY(-180deg);
}
.frontTurn {
  transform: rotateY(0deg);
}

.pickBack {
  position: absolute;
  height: 300px;
  transform: rotateY(0deg);
}
.backTurn {
  transform: rotateY(180deg);
}

.mintPage {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-top: 100px;
}

button {
  width: 200px;
  height: 100px;
  font-size: 35px;
}
